.product {
    background-color: #fff;
    border-radius: $base-gutter / 2;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    display: flex;
    @media only screen and (max-width: 1200px)  {
        flex-direction: column;
    }
    & > * {
        border-right: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        @media only screen and (max-width: 1200px)  {
            border-bottom: 1px solid #eaeaea;
            border-left: none;
            border-right: none;
            border-top: 1px solid #eaeaea;
        }
        &:first-child {
            border-left: none;
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
            border-right: none;
        }
    }
    &__preview {
        width: $base-gutter * 52;
        @media only screen and (max-width: 1368px)  {
            width: $base-gutter * 40;
        }
        @media only screen and (max-width: 1200px)  {
            width: 100%;
        }
        &_img {
            align-items: center;
            display: flex;
            height: $base-gutter * 52;
            justify-content: center;
            padding: $base-gutter * 3;
            width: 100%;
            @media only screen and (max-width: 1368px)  {
                height: $base-gutter * 40;
            }
            @media only screen and (max-width: 768px)  {
                height: auto;
            }
            img {
                height: auto;
                max-height: 100%;
                max-width: 100%;
            }
        }
        &_nav {
            align-content: center;
            display: flex;
            justify-content: center;
            margin: $base-gutter * 3 $base-gutter;
            position: relative;

            @media only screen and (max-width: 768px)  {
                margin-top: -$base-gutter * 2;
                margin-bottom: $base-gutter * 2;
                padding: 0 $base-gutter * 2;
            }
            &-arr {
                $btn-size: $base-gutter * 4;
                align-items: center;
                background-color: #fff;
                border: 2px solid #f5f5f5;
                border-radius: 50%;
                color: #1f8d5f;
                cursor: pointer;
                display: flex;
                height: $btn-size;
                justify-content: center;
                margin-top: $base-gutter * 4 - $btn-size / 2;
                width: $btn-size;
                z-index: 5;
                @media only screen and (max-width: 1368px)  {
                    margin-top: $base-gutter * 3 - $btn-size / 2;
                }
                @media only screen and (max-width: 1200px)  {
                    margin-top: $base-gutter * 4 - $btn-size / 2;
                }
                @media only screen and (max-width: 768px)  {
                    position: relative;
                    margin: 0 $base-gutter;
                }
                &:hover {
                    background-color: #1f8d5f;
                    color: #fff;
                }
                &.is-left {
                    left:  $base-gutter * 2;
                    @media only screen and (max-width: 768px)  {
                        left:  0;
                    }
                }
                &.is-right {
                    right:  $base-gutter * 2;
                    @media only screen and (max-width: 768px)  {
                        right:  0;
                    }
                }
            }
            &-wrapper {
                align-content: center;
                display: flex;
                justify-content: center;
                margin: 0 $base-gutter * 1.5;
                overflow: hidden;
                position: relative;
                @media only screen and (max-width: 768px)  {
                    display: none;
                }
            }
            &-item {
                cursor: pointer;
                align-items: center;
                border: 2px solid #f5f5f5;
                border-radius: $base-gutter / 2;
                display: flex;
                height: $base-gutter * 8;
                max-height: $base-gutter * 8;
                max-width: $base-gutter * 8;
                min-height: $base-gutter * 8;
                min-width: $base-gutter * 8;
                justify-content: center;
                margin: 0 $base-gutter * 0.5;
                padding: $base-gutter;
                width: $base-gutter * 8;
                @media only screen and (max-width: 1368px)  {
                    height: $base-gutter * 6;
                    margin: 0 $base-gutter;
                    width: $base-gutter * 6;
                }
                @media only screen and (max-width: 1200px)  {
                    height: $base-gutter * 8;
                    width: $base-gutter * 8;
                }
                &:hover {
                    border-color: #1f8d5f;
                }
                &_is-active {
                    border-color: #1f8d5f;
                }
                img {
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    &__description {
        padding: $base-gutter * 3;
        @media only screen and (max-width: 768px)  {
            padding: $base-gutter;
        }
        flex: 1;
        & > * {
            margin: $base-gutter * 2 0;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
        &_header {
            padding: 0 $base-gutter * 1.5;
            & > * {
                margin: $base-gutter * 1.5 0;
                &:first-child { margin-top: 0; }
                &:last-child { margin-bottom: 0; }
            }
        }
        &_body {}
        &_footer {
            align-items: center;
            display: flex;
            @media only screen and (max-width: 768px)  {
                align-items: flex-start;
                flex-direction: column;
            }
            &-item {
                .info { margin-right: $base-gutter* 3; }
                @media only screen and (max-width: 768px)  {
                    align-items: center;
                    display: flex;
                    margin: 0;
                    width: 100%;
                    .btn {
                        flex: 1;
                        width: 100%;
                    }
                    .info {
                        margin-left: $base-gutter;
                        margin-right: 0;
                    }
                }
                & > * {
                    margin-left: $base-gutter;
                    &:first-child { margin-left: 0; }
                }
            }
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
    &__feedback {
        display: flex;
    }
    &__raiting {
        margin-right: $base-gutter * 2;
        &_item {
            color: #f8b044;
        }
    }
    &__reviews {
        color: #999;
        flex: 1;
        font-size: 12px;
        line-height: 20px;
        text-decoration: underline;
        i { margin-right: $base-gutter / 2; }
    }
    &__cost {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }
    &__variants {
        background-color: #f8f8f8;
        border-radius: $base-gutter / 2;
        padding: $base-gutter * 2;
        &_header {
            display: flex;
        }
        &_title {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            margin-right: $base-gutter *2;
        }
        &_more {
            color: #999;
            font-size: 12px;
            line-height: 24px;
            text-decoration: underline;
            &:hover { text-decoration: none; }
        }
        &-type {
            align-items: center;
            display: flex;
            list-style: none;
            margin: $base-gutter * 2 0;
            padding: 0;
            @media only screen and (max-width: 768px)  {
                align-items: flex-start;
                flex-direction: column;
            }
            &:last-child { margin-bottom: 0; }
            &_label {
                color: #333333;
                font-size: 10px;
                padding: $base-gutter 0;
                text-transform: uppercase;
                width: $base-gutter * 12;
            }
            &_value {
                flex: 1;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            &_item {
                align-items: center;
                background-color: #fff;
                border: 2px solid #f5f5f5;
                border-radius: $base-gutter / 2;
                cursor: pointer;
                display: flex;
                float: left;
                font-size: 10px;
                font-weight: 600;
                height: $base-gutter * 8;
                justify-content: center;
                line-height: 18px;
                margin: 0 $base-gutter;
                padding: $base-gutter;
                text-transform: uppercase;
                width: $base-gutter * 8;
                @media only screen and (max-width: 1368px)  {
                    height: $base-gutter * 6;
                    margin: 0 $base-gutter / 2;
                    width: $base-gutter * 6;
                }
                //&:first-child { margin-left: 0; }
                //&:last-child { margin-right: 0; }
                &:hover {
                    border-color: #1f8d5f;
                }
                img {
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
                &.has-text {
                    height: auto;
                    margin: $base-gutter / 2 $base-gutter $base-gutter / 2 0;
                    padding: $base-gutter $base-gutter * 2;
                    width: auto;
                    @media only screen and (max-width: 1368px)  {
                        padding: $base-gutter / 2 $base-gutter;
                    }
                }
                &.is-active {
                    border-color: #1f8d5f;
                    color: #1f8d5f;
                }
            }
        }
    }
    &__info {
        display: flex;
        line-height: 20px;
        margin: $base-gutter * 2;
        @media only screen and (max-width: 768px)  {
            align-items: flex-start;
            flex-direction: column;
            margin: $base-gutter $base-gutter * 2;
        }
        &_label {
            color: #333333;
            font-size: 10px;
            padding: $base-gutter 0;
            text-transform: uppercase;
            width: $base-gutter * 12;
        }
        &_value {
            flex: 1;
            font-size: 12px;
            font-weight: 600;
            list-style: none;
            padding: 0;
            &-text {
                display: block;
                font-weight: 400;
            }
        }
    }
}