.DS_Store
.idea
.vscode
.vagrant
.docker-sync
.phpstorm.meta.php
_ide_helper.php

.env
/storage/*.key
/storage/api-docs
/public/hot
/public/storage
/public/packages
/public/build
/public/js/ssr.js
/public/js/main.js
/public/css/styles.css
/public/mix-manifest.json
/vendor
/node_modules
/SeedOrders.php
/api.log

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
